@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #15202B;
    box-sizing: border-box;

}

.container {
    display: flex;
    justify-content: center;
}

.texttweet {
    width: 600px;
    color: #CCCCCC;
    border: 2px solid #CCCCCC;
    border-radius: 6px;
    margin-top: 5px;
    resize: none;
    background-color: #15202B;
    padding: 1em;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.texttweet:focus {
    outline: none;
}

.addtweet {
    background-color: #007BFF;
    color: #FFFFFF;
    position: absolute;
    top: 23%;
    right: 27%;
    padding: 2px 7px 3px 8px;
    font-weight: 400;
    cursor: pointer;
}

.tweetlist {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.tweet {
    width: 600px;
    height: 100px;
    background: #343A40;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}

.dateandname {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin-left: 40px;
}

small {
    color: #6C757D;
    margin-top: 15px;
}

span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    word-wrap: break-word;
}

.disabletweet {
    background-color: gray;
    color: #FFFFFF;
    position: absolute;
    top: 23%;
    right: 27%;
    padding: 2px 7px 3px 8px;
    font-weight: 400;
    cursor: pointer;
}

.message {
    background: #F8D7DA;
    border: 1px solid #F5C6CB;
    box-sizing: border-box;
    border-radius: 4px;
    color: #721C24;
    position: absolute;
    top: 21%;
    right: 48%;
}

.content{
    margin-top:0.5em;
    text-align: justify;
    max-width: 90%;
    margin-left: 6.8%;
}